.request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin: 30px 0;
    margin-bottom: 20px;
  }
  .hall {
    margin-bottom: 20px;
    h2 {
      margin-bottom: 5px;
      font-weight: bold;
    }
    input {
      width: 70vw;
      font-size: 20px;
    }
  }
  .name {
    margin-bottom: 50px;
    h2 {
      margin-bottom: 5px;
      font-weight: bold;
    }
    input {
      width: 70vw;
      font-size: 20px;
    }
  }
  .request-button {
    .big-button {
      width: 70vw;
    }
  }
}
