:root {
  --main-color: #66afe7;
  --secondary-color: #dd0021;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: white;
}

h1,
h2,
h3,
h4,
a {
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 40px;
  font-weight: bold;
}
h2 {
  font-size: 26px;
}
button {
  box-sizing: none;
  border: none;
}

.big-button {
  background-color: var(--secondary-color);
  color: white;
  padding: 50px 30px;
  width: 30%;
  box-shadow: 1px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.button {
  background-color: var(--secondary-color);
  color: white;
  padding: 8px 20px;
  width: 100%;

  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
input {
  border: 1px solid #c4c4c4;
  width: 100%;
  background-color: #ffffff;
  padding: 15px;
}
